/* smaller screen */
@media screen and (max-width: 800px) {
    body { /* background colour */
        background-image: linear-gradient(to bottom right, darkred, goldenrod);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    * { /* text */
        color: white;
        font-family: "Raleway", "consolas", "sans-serif";
        font-size: 44px;
        text-align: center;
    }

    h1 { /* header 1 */
        border-bottom: solid;
        border-width: 5px;
        border-color: antiquewhite;
        padding-bottom: 7px;
    }

    .images { /* all images */
        height: auto;
        object-fit: contain;
    }

    #thecar { /* images at the paragraphs */
        width: 66%;
    }

    #thecar2 {
        width: 63%;
    }

    p { /* paragraps */
        font-size: 19px;
    }

    h4 { /* header 4 */
        font-size: 26px;
        border-style: dotted;
        border-width: 4px;
        border-color: antiquewhite;
        padding: 7px;
    }

    #map { /* map */
        width: 80%;
    }

    #youtube { /* yt video */
        width: 85%;
        border: 0px;
    }

    /* Styling the image used to trigger the modal */
    #dimensionsimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #dimensionsimg:hover {
        opacity: 0.7;
    }

    /* the modal background */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.8);
        /* Black w/ opacity */
    }

    /* the content of the model (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* caption of the modal image */
    #caption1 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    /* adds animation to zoom in to the modal */
    .modal-content,
    #caption1 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* close button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    #modelimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #modelimg:hover {
        opacity: 0.7;
    }

    #caption2 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption2 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    #interiorimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #interiorimg:hover {
        opacity: 0.7;
    }

    #caption3 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 17.5px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption3 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    #engineimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #engineimg:hover {
        opacity: 0.7;
    }

    #caption4 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 17.5px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption4 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    button {
        font-size: 26px;
        color: white;
        background: darkred;
        border-radius: 8px;
        transition: opacity .2s;
    }

    button:hover {
        cursor: pointer;
        background: rgb(99, 5, 5);
    }

    #caption5 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption5 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }
}


/* bigger screens */
@media screen and (min-width: 800px) {
    body {
        background-image: linear-gradient(to bottom right, darkred, goldenrod);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }

    #para1 {
        margin-top: 10%;
        grid-area: 2 / 1 / 3 / 2;
    }

    #para2 {
        margin-top: 10%;
        grid-area: 2 / 3 / 3 / 4;
    }

    #para3 {
        margin-top: 10%;
        grid-area: 2 / 2 / 3 / 3;
    }

    * {
        color: white;
        font-family: "Raleway", "consolas", "sans-serif";
        font-size: 44px;
        text-align: center;
    }

    h1 {
        border-bottom: solid;
        border-width: 5px;
        border-color: antiquewhite;
        padding-bottom: 7px;
        grid-area: 1 / 2 / 2 / 3;
    }

    .images {
        height: auto;
        object-fit: contain;
    }

    #thecar {
        width: 66%;
    }

    #thecar2 {
        width: 63%;
    }

    p {
        font-size: 19px;
    }

    h4 {
        font-size: 26px;
        border-style: dotted;
        border-width: 4px;
        border-color: antiquewhite;
        padding: 7px;
        grid-area: 5 / 2 / 6 / 3;
    }

    #map {
        width: 170%;
        height: 450px;
        margin-left: -35%;
    }

    #mapbox {
        margin-top: 24%;
        grid-area: 3 / 2 / 4 / 3;
    }

#videobox {
    margin-top: 100%;
    border: 0px;
    grid-area: 4 / 2 / 5 / 3;
}

    #intructions{
        margin-top: 50%;
        grid-area: 6 / 2 / 7 / 3;
    }

    #youtube {
        width: 150%;
        height: 450px;
        margin-left: -25%;
    }

    /* Styling the image used to trigger the modal */
    #dimensionsimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 30%;
        margin-left: 0%;
        grid-area: 7 / 1 / 8 / 2;
    }

    #dimensionsimg:hover {
        opacity: 0.7;
    }

    /* the modal background */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.8);
        /* Black w/ opacity */
    }

    /* the content of the model (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* caption of the modal image */
    #caption1 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    /* adds animation to zoom in to the modal */
    .modal-content,
    #caption1 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* close button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    #modelimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 30%;
        margin-left: 0%;
        grid-area: 7 / 2 / 8 / 3;
    }

    #modelimg:hover {
        opacity: 0.7;
    }

    #caption2 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption2 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    #interiorimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 120%;
        margin-left: 0%;
        grid-area: 7 / 2 / 8 / 3;
    }

    #interiorimg:hover {
        opacity: 0.7;
    }

    #caption3 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 17.5px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption3 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    #engineimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 30%;
        margin-left: 0%;
        grid-area: 7 / 3 / 8 / 4;
    }

    #engineimg:hover {
        opacity: 0.7;
    }

    #caption4 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 17.5px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption4 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    button {
        font-size: 26px;
        color: white;
        background: darkred;
        border-radius: 8px;
        transition: opacity .2s;
        grid-area: 5 / 2 / 6 / 3;
    }

    button:hover {
        cursor: pointer;
        background: rgb(99, 5, 5);
    }

    #endimg {
        border-radius: 5px;
        transition: 0.3s;
        margin-top: 200%;
        margin-left: 0%;
        grid-area: 7 / 2 / 8 / 3;
    }

    #caption5 {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content,
    #caption5 {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }
}